{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": "upper",
    "max-empty-lines": 2,
    "no-missing-end-of-source-newline": true,
    "no-descending-specificity": null,
    "selector-type-no-unknown": null,
    "string-quotes": "single",
    "property-no-vendor-prefix": true,
    "max-nesting-depth": 2,
    "property-no-unknown": [true, {
      "ignoreProperties": ["contain", "appearance"]
    }]
  }
}
