:host {
  display: inline-flex;
  background-image: linear-gradient(46deg, #FF00B0 0%, #FF3B6A 94%);
  border-radius: 100px;
  padding: 8px 48px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
